<div class="b5d-toolbar">
  <div class="b5d-tab">
    <button class="b5d-tab-archive-button" type="button" (click)="toggleFileTab()">
      {{ i18n.translateForComponent(toolbarTranslations, 'toolbar.file') }}
    </button>

    @for (tab of toolbarTabs; track tab.id) {
      <button
        class="b5d-tab-button"
        type="button"
        [class.b5d-tab-button--selected]="activeTab === tab.id"
        (click)="updateTab(tab.id)"
      >
        {{ i18n.translateForComponent(toolbarTranslations, tab.labelKey) }}
      </button>
    }

    <button class="b5d-toolbar__collapse-button" type="button" (click)="toggleToolbarContent()">
      {{ toolbarContentVisible ? 'Hide toolbar' : 'Show toolbar' }}
    </button>
  </div>

  @if (fileTabVisible) {
    <app-float-file-tab
      [usuarioSesion]="usuarioSesion"
      [activeProject]="activeProject"
      (archivoSeleccionado)="archivoSeleccionado.emit($event)"
      (abrirB5dSolicitado)="abrirB5dSolicitado.emit()"
      (guardarB5dSolicitado)="guardarB5dSolicitado.emit()"
      (loginSolicitado)="loginSolicitado.emit()"
      (logoutSolicitado)="logoutSolicitado.emit()"
      (toggleLanguage)="i18n.toggleLanguage()"
      (closePanel)="fileTabVisible = false"
    />
  }

  @if (toolbarContentVisible) {
    <div class="b5d-tab-content">
      @for (category of getActiveCategories(); track getLabel(category)) {
        <div class="b5d-tab-category">
          <div [class]="getCategoryButtonsClass(category)">
            @for (button of category.buttons; track getLabel(button)) {
              <button
                [class]="getButtonClass(button)"
                type="button"
                [class.b5d-toolbar-action--selected]="button.selected"
                [disabled]="button.disabled"
                (click)="runToolbarAction(button)"
              >
                <span
                  class="b5d-toolbar-action_icon"
                  [class.b5d-toolbar-action_icon-large]="button.variant.includes('large')"
                >
                  @if (button.iconSrc) {
                    <img class="b5d-toolbar-action_image" [src]="button.iconSrc" alt="" />
                  } @else {
                    {{ button.iconText }}
                  }
                </span>
                <span class="b5d-toolbar-action_label">{{ getLabel(button) }}</span>
              </button>
            }
          </div>
          <label class="b5d-tab-category-label">{{ getLabel(category) }}</label>
        </div>
      }

      @if (!getActiveCategories().length) {
        <div class="b5d-toolbar__placeholder">
          {{ activeTab === 'measurement' ? i18n.translateForComponent(toolbarTranslations, 'toolbar.empty.measurement') : i18n.translateForComponent(toolbarTranslations, 'toolbar.empty.about') }}
        </div>
      }

      @if (cargando) {
        <span class="b5d-toolbar__status">{{ i18n.translateForComponent(toolbarTranslations, 'toolbar.loading') }}</span>
      }
    </div>
  }
</div>
