<div class="b5d-toolbar">
  <div class="b5d-tab">
    <button class="b5d-tab-archive-button" type="button" (click)="toggleFileTab()">
      {{ i18n.translateForComponent(toolbarTranslations, 'toolbar.file') }}
    </button>

    @for (tab of visibleToolbarTabs; track tab.id) {
    <button
      class="b5d-tab-button"
      type="button"
      [class.b5d-tab-button--selected]="activeTab === tab.id"
      [title]="i18n.translateForComponent(toolbarTranslations, tab.labelKey)"
      (click)="updateTab(tab.id)"
    >
      {{ i18n.translateForComponent(toolbarTranslations, tab.labelKey) }}
    </button>
    }

    <button class="b5d-toolbar__collapse-button" type="button" (click)="toggleToolbarContent()">
      {{ toolbarContentVisible ? i18n.translateForComponent(toolbarTranslations, 'toolbar.action.hideToolbar') : i18n.translateForComponent(toolbarTranslations, 'toolbar.action.showToolbar') }}
    </button>
  </div>

  @if (fileTabVisible) {
    <app-float-file-tab
      [usuarioSesion]="usuarioSesion"
      [activeProject]="activeProject"
      [activeProjects]="activeProjects"
      (archivoSeleccionado)="archivoSeleccionado.emit($event)"
      (unloadIfcSolicitado)="unloadIfcSolicitado.emit()"
      (abrirB5dSolicitado)="abrirB5dSolicitado.emit()"
      (guardarB5dSolicitado)="guardarB5dSolicitado.emit()"
      (loginSolicitado)="loginSolicitado.emit()"
      (logoutSolicitado)="logoutSolicitado.emit()"
      (activeProjectRequested)="activeProjectRequested.emit($event)"
      (activeProjectCloseRequested)="activeProjectCloseRequested.emit($event)"
      (toggleLanguage)="i18n.toggleLanguage()"
      (closePanel)="fileTabVisible = false"
    />
  }

  @if (toolbarContentVisible) {
    <div class="b5d-tab-content">
      @for (category of getActiveCategories(); track getLabel(category)) {
        <div class="b5d-tab-category">
          <div [class]="getCategoryButtonsClass(category)">
            @for (button of category.buttons; track getLabel(button)) {
              @if (button.dropdownItems?.length) {
                <div class="b5d-toolbar-dropdown">
                  <button
                    [class]="getButtonClass(button)"
                    type="button"
                    [class.b5d-toolbar-action--selected]="button.selected"
                    [disabled]="button.disabled"
                    [title]="getLabel(button)"
                    (click)="runToolbarAction(button)"
                  >
                    <span
                      class="b5d-toolbar-action_icon"
                      [class.b5d-toolbar-action_icon-large]="button.variant.includes('large')"
                    >
                      @if (button.iconSrc) {
                        <img class="b5d-toolbar-action_image" [src]="button.iconSrc" alt="" />
                      } @else {
                        {{ button.iconText }}
                      }
                    </span>
                    <span class="b5d-toolbar-action_label">{{ getLabel(button) }}</span>
                  </button>

                  @if (isDropdownOpen(button)) {
                    <div class="b5d-toolbar-dropdown__menu" (pointerdown)="$event.stopPropagation()">
                      @for (option of button.dropdownItems; track getLabel(option)) {
                        <button
                          class="b5d-toolbar-dropdown__item"
                          type="button"
                          [class.b5d-toolbar-dropdown__item--selected]="option.selected"
                          [title]="getLabel(option)"
                          (click)="runDropdownAction(button, option, $event)"
                        >
                          <span class="b5d-toolbar-dropdown__item-label">{{ getLabel(option) }}</span>
                        </button>
                      }
                    </div>
                  }
                </div>
              } @else {
                <button
                  [class]="getButtonClass(button)"
                  type="button"
                  [class.b5d-toolbar-action--selected]="button.selected"
                  [disabled]="button.disabled"
                  [title]="getLabel(button)"
                  (click)="runToolbarAction(button)"
                >
                  <span
                    class="b5d-toolbar-action_icon"
                    [class.b5d-toolbar-action_icon-large]="button.variant.includes('large')"
                  >
                    @if (button.iconSrc) {
                      <img class="b5d-toolbar-action_image" [src]="button.iconSrc" alt="" />
                    } @else {
                      {{ button.iconText }}
                    }
                  </span>
                  <span class="b5d-toolbar-action_label">{{ getLabel(button) }}</span>
                </button>
              }
            }
          </div>
          <label class="b5d-tab-category-label">{{ getLabel(category) }}</label>
        </div>
      }

      @if (!getActiveCategories().length) {
        <div class="b5d-toolbar__placeholder">
          {{ activeTab === 'measurement' ? i18n.translateForComponent(toolbarTranslations, 'toolbar.empty.measurement') : i18n.translateForComponent(toolbarTranslations, 'toolbar.empty.about') }}
        </div>
      }
    </div>
  }
</div>
