<div class="b5d-workbook-preview">
  @if (effectiveLoading) {
    <div class="b5d-workbook-preview__message">Cargando libro Excel...</div>
  } @else if (effectiveError) {
    <div class="b5d-workbook-preview__message b5d-workbook-preview__message--error">{{ effectiveError }}</div>
  } @else if (renderedSrcDoc) {
    @if (frameMode === 'sandboxed') {
      <iframe
        class="b5d-workbook-preview__frame"
        sandbox="allow-scripts"
        referrerpolicy="no-referrer"
        [attr.srcdoc]="renderedSrcDoc"
        [title]="title"
      ></iframe>
    } @else {
      <iframe
        class="b5d-workbook-preview__frame"
        referrerpolicy="no-referrer"
        [attr.srcdoc]="renderedSrcDoc"
        [title]="title"
      ></iframe>
    }
  } @else if (previewUrl) {
    @if (frameMode === 'sandboxed') {
      <iframe
        class="b5d-workbook-preview__frame"
        sandbox="allow-scripts"
        referrerpolicy="no-referrer"
        [src]="previewUrl"
        [title]="title"
      ></iframe>
    } @else {
      <iframe
        class="b5d-workbook-preview__frame"
        referrerpolicy="no-referrer"
        [src]="previewUrl"
        [title]="title"
      ></iframe>
    }
  } @else {
    <div class="b5d-workbook-preview__message">{{ emptyMessage }}</div>
  }
</div>
